<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="configuration" class="pikater.configuration.XmlConfigurationProvider" scope="singleton">
        <constructor-arg name="filePath" value="configuration.xml"/>
    </bean>
    <bean id="logger" class="pikater.logging.ConsoleLogger" scope="singleton"/>
    <bean id="agentTypesProvider" class="pikater.agents.management.AgentTypesFromFileProvider" scope="singleton"/>
    <bean id="defaultConnection" class="pikater.data.MySQLConnectionProvider" scope="singleton">
        <constructor-arg name="url" value="jdbc:mysql://174.120.245.222/marp_pikater"/>
        <constructor-arg name="userName" value="marp_pikater"/>
        <constructor-arg name="password" value="pikater"/>
    </bean>
    <bean id="klara_local" class="pikater.data.MySQLConnectionProvider" scope="singleton">
        <constructor-arg name="url" value="jdbc:mysql://localhost/pikater"/>
        <constructor-arg name="userName" value="root"/>
        <constructor-arg name="password" value=""/>
    </bean>
    <bean id="jakubMSSQLConnection" class="pikater.data.MSSQLConnectionProvider" scope="singleton">
        <constructor-arg name="connectionUrl" value="jdbc:sqlserver://KUBA-NTB\SQLEXPRESS;databaseName=Autoskola;user=jakub;password=Diplomka-42;"/>
    </bean>
</beans>